.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.item {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color:black;
  text-align: center;
}

.item-link {
  text-decoration: none;
}

.searchBar {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.searchBar input[type="text"] {
  flex-grow: 1; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 250px; 
}

.filter {
  padding-top: 10px;

}

.description-container {
  display: flex;
  justify-content: center;                 
  text-align: center;        
}

.description {
  max-width: 600px;          
}

.tierList {
  width: 50%;
  height: auto;
}

.page {
  background-color: #282c34;
}

body {
  background-color: #282c34;
  color: white;
}

.login-link {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color:black;
  text-align: center;
  margin-right: 20px;
}

.tierlist-link {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color:black;
  text-align: center;
}

.header-bar {
  display: flex;
}

.back-link {
  color: red;
}

.back-link:active {
  color:darkred;
}